In [3]:
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
import pandas as pd

In [4]:
df = pd.read_csv('Cars Datasets 2025.csv', encoding='latin-1')
df

,Company Names,Cars Names,Engines,CC/Battery Capacity,HorsePower,Total Speed,Performance(0 - 100 )KM/H,Cars Prices,Fuel Types,Seats,Torque
0,FERRARI,SF90 STRADALE,V8,3990 cc,963 hp,340 km/h,2.5 sec,"$1,100,000",plug in hyrbrid,2,800 Nm
1,ROLLS ROYCE,PHANTOM,V12,6749 cc,563 hp,250 km/h,5.3 sec,"$460,000",Petrol,5,900 Nm
2,Ford,KA+,1.2L Petrol,"1,200 cc",70-85 hp,165 km/h,10.5 sec,"$12,000-$15,000",Petrol,5,100 - 140 Nm
3,MERCEDES,GT 63 S,V8,"3,982 cc",630 hp,250 km/h,3.2 sec,"$161,000",Petrol,4,900 Nm
4,AUDI,AUDI R8 Gt,V10,"5,204 cc",602 hp,320 km/h,3.6 sec,"$253,290",Petrol,2,560 Nm
...,...,...,...,...,...,...,...,...,...,...,...
1213,Toyota,Crown Signia,2.5L Hybrid I4,2487 cc,240 hp,180 km/h,7.6 sec,"$43,590  $48,000",Hybrid (Gas + Electric),5,239 Nm
1214,Toyota,4Runner (6th Gen),2.4L Turbo I4 (i-FORCE MAX Hybrid),2393 cc + Battery,326 hp,180 km/h,6.8 sec,"$50,000",Hybrid,7,630 Nm
1215,Toyota,Corolla Cross,2.0L Gas / 2.0L Hybrid,1987 cc / Hybrid batt,169  196 hp,190 km/h,8.0  9.2 sec,"$25,210  $29,135",Gas / Hybrid,5,190  210 Nm
1216,Toyota,C-HR+,1.8L / 2.0L Hybrid,1798 / 1987 cc + batt,140  198 hp,180 km/h,7.9  10.5 sec," 33,000",Hybrid,5,190  205 Nm
1217,Toyota,RAV4 (6th Gen),2.5L Hybrid / Plug-in Hybrid,2487 cc + batt,219  302 hp,200 km/h,6.0  8.1 sec,"$29,000  $43,000",Hybrid / Plug-in,5,221  400 Nm

In [5]:
df['Company Names'].value_counts()

Company Names
Nissan               149
Volkswagen           109
Porsche               96
Mazda                 87
Mitsubishi            60
GMC                   59
Chevrolet             58
Peugeot               54
Kia                   54
Ford                  54
TOYOTA                45
BMW                   41
Jaguar Land Rover     40
Tata Motors           29
ROLLS ROYCE           29
Acura                 27
LAMBORGHINI           24
HYUNDAI               23
MERCEDES              21
AUDI                  21
Cadillac              20
Jeep                  19
KIA                   16
ASTON MARTIN          11
Tesla                 10
NISSAN                10
Bugatti               10
FERRARI                9
Volvo                  9
HONDA                  7
Toyota                 5
MARUTI SUZUKI          3
VOLVO                  3
MAHINDRA               3
KIA                    1
BENTLEY                1
ROLLS ROYCE            1
Name: count, dtype: int64

In [6]:
df_cars = df[df['Company Names'] == 'Ford']

df_cars_prices = df_cars[['Company Names', 'Cars Prices']]

df_2 = df_cars_prices.head()

df_2

     Company Names        Cars Prices
2             Ford    $12,000-$15,000
1014          Ford  $25,000 - $40,000
1015          Ford  $30,000 - $45,000
1016          Ford  $15,000 - $25,000
1017          Ford  $20,000 - $30,000

In [7]:
def clean_string_data(price_str):
    if pd.isna(price_str):
        return np.nan
        
    price_str = str(price_str).strip()

    clean_price_str = price_str.replace('$','').replace(',','').strip()

    parts = []
    if '-' in clean_price_str:
        parts = clean_price_str.split('-')
    elif '–' in clean_price_str:
        parts = clean_price_str.split('–')
    else:
        parts = [clean_price_str]

    numbers = []
    for i in parts:
        try:
            numbers.append(float(i.strip()))
        except ValueError:
            continue
            
    if len(numbers) == 2:
        return (numbers[0]+numbers[1])/2
    elif len(numbers) == 1:
        return numbers[0]
    else:
        return np.nan

In [8]:
# Correct way to test with a list of values
test_prices_list = ['$12,000', '$14,000-$20,000', '$9,000', '$3,000–$5,000']

# Convert the list to a pandas Series
test_prices_series = pd.Series(test_prices_list)

In [9]:
test_prices_series

0            $12,000
1    $14,000-$20,000
2             $9,000
3      $3,000–$5,000
dtype: object

In [10]:
processed_prices = test_prices_series.apply(clean_string_data)
processed_prices

0    12000.0
1    17000.0
2     9000.0
3     4000.0
dtype: float64